<%= form_for(@signature) do |f| %>
  <% if @signature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signature.errors.count, "错误") %> 由于出现错误:</h2>

      <ul>
      <% @signature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body, "内容" %><br />
    <%= f.text_area :body, :size => "60x5" %>
  </div>
  
  <div class="actions">
    <%= f.submit "添加" %>
  </div>
<% end %>
