
<div class="outer_box">
  <div class="block_top">
    <div class="block_title">
      <div class="block_titleleft"></div>
      <div class="block_titlecenter">推荐指数：<%= signature.rank  %></div>
      <div class="block_titleright"></div>
    </div>
    <div class="block_line"></div>
  </div>
  <div class="body_box">
    <div class="avatar_item">
      <%= link_to(image_tag(signature.user.avatar_url), signature.user.link, :title => signature.user.title) %>
    </div>
    <div class="category_item">
      <%= link_to signature.user.title, signature.user.link %> <%= time_ago_in_words(signature.created_at).gsub(/\s+/, "") %>前 说：<br />
      <%= signature.body %>
      <div />
      <%= render :partial => "shared/share_to_weibo", :locals => {:signature => signature} %>
    </div>
  </div>
</div>
