<%= javascript_include_tag "demo" %>
<br />

<div id="signature-body"><%=  @signature.id %>.<%= @signature.body %></div>
<div id="op">
  <span><%= link_to "刷新", signatures_random_path, :remote => true %></span>
  <span><%= link_to "添加", new_signature_path, :remote => true %></span>
  <span><%= link_to "给力", up_signature_path(@signature), :remote => true %></span>
  <span><%= link_to "不给力", down_signature_path(@signature), :remote => true %></span>

</div>

<!-- ui-dialog -->
<div id="dialog" title="添加签名">
  <p>添加签名</p>
</div>



