<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @signature.body %>
</p>

<p>
  <b>Rank:</b>
  <%= @signature.rank %>
</p>


<%= link_to 'Edit', edit_signature_path(@signature) %> |
<%= link_to 'Back', signatures_path %>
