<%= form_for(:setting, @setting, :html => {:method => :put}, :url => edit_my_settings_path) do |f| %>
  <%= render :partial => "/shared/error_messages", :locals => {:target => @setting} %>

  <div class="field">
    <%= f.label :random_mode, "选择随机模式" %>
    <%= f.select :random_mode, options_for_select(Setting::RANDOM_MODE.invert, @setting.random_mode) %>
  </div>

  <div class="actions">
    <%= f.submit "修改" %>
  </div>
<% end %>
