<div class="tabs" >
  <ul>
    <li <%= current_class_for_mine('favorites') %> ><%= link_to("我的收藏", my_favorites_path) %></li>
    <li <%= current_class_for_mine('signatures') %> ><%= link_to("我的语录", my_signatures_path) %></li>
  </ul>           
</div>             

<%= yield %>

<%= parent_layout 'application' %>